<!-- templates/agency/agencies.html -->
{% extends 'base.html' %}

{% block title %}Explore Tours{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Explore Agencies</h1>
    <div class="row">
        {% for agency in agencies %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ agency.image_url }}" alt="{{ agency.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ agency.name }}</h5>
                    <div class="card-text star-rating">
                        {% for i in rating_range %}
                            {% if i <= agency.rating %}
                                <i class="fas fa-star"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p class="card-text">{{ agency.description|truncatewords:20 }}</p>
                    <a href="{% url 'single-agency' agency.name %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
