


{% block content %}
<h1>Tour Agency Dashboard</h1>

<div class="wrapper">
    <div class="sidebar">
        <div class="hamburger-menu" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul>
            <li class="greeting">Hi, {{ user.username }}</li>
            <li><a href="{% url 'tour-agency-dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'add-tour-package' %}">Add Package Listing</a></li>
            <li><a href="{% url 'update-tour-package' %}">Update Package Listing</a></li> <!-- Updated URL -->
            <li><a href="{% url 'view-tour-package' %}">Delete Package Listing</a></li>
            <li><a href="{% url 'manage-package-reviews' %}">Manage Package Review</a></li>
            <li><a href="{% url 'notifications' %}">Notifications</a></li>
            <li><a href="{% url 'help-support' %}">Help and Support</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'user-profile' user.username %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                
            {% endif %}
        </ul>
    </div>
    <div class="content">
        {% block dashboard_content %}
        {% endblock dashboard_content %}
        
    </div>
</div>
{% endblock %}







