<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
      .star-rating .fa-star,
      .star-rating .fa-star-o {
          color: #FFD700; /* Gold color for stars */
      }
  </style>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Single VR Template</h1>
      <h1>{{vr.title}}</h1>
      <hr />
      <p>{{vr.description}}</p>
      <img src="{{vr.image_url}}" alt="{{vr.title}}" />
      <div class="card-text star-rating">
        {% for i in rating_range %}
            {% if i <= vr.rating %}
                <i class="fas fa-star"></i>
            {% else %}
                <i class="far fa-star"></i>
            {% endif %}
        {% endfor %}
    </div>
    <a href="{% url 'update-vr' vr.title %}" class="btn btn-success mt-4">Update VR</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
