<!-- templates/vr_experience/vrs.html -->
{% extends 'base.html' %}
{% load social_share %}
{% block title %}Explore Tours{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Explore VR Tours</h1>

    <a href="{% url 'create-vr' %}" class="btn btn-primary mt-4">Create VR</a>
    <div class="row">
        {% for vr in vrs %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ vr.image_url }}" alt="{{ vr.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ vr.title }}</h5>
                    <div class="card-text star-rating">
                        {% for i in rating_range %}
                            {% if i <= vr.rating %}
                                <i class="fas fa-star"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% for tag in vr.tags.all %}
                    <p class="card-text">{{ tag.name|truncatewords:20 }}</p>
                    {% endfor %}
                    <p class="card-text">{{ vr.description|truncatewords:20 }}</p>
                    <p class="card-text"><small class="text-muted">Price: ${{ vr.price }}</small></p>
                    <a href="{% url 'single-vr' vr.title %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
