<!-- templates/users/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">My Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link">Hi, {{ user.username }}</span>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav> -->
    <div class="container mt-4">
        <h1>Welcome to the Home Page</h1>
        {% if user.is_authenticated %}
            <p>Hello, {{ user.username }}!</p>
            
        <a href="{% url 'vrs' %}" class="btn btn-primary">Explore Destinations</a>
        {% else %}
            <p>You are not logged in.</p>
        {% endif %}
    </div>
{% endblock %}
