<!-- templates/hotel_experience/hotels.html -->
{% extends 'base.html' %}

{% block title %}Explore Tours{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Explore Hotels Tours</h1>
    <div class="row">
        {% for hotel in hotels %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ hotel.image_url }}" alt="{{ hotel.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ hotel.name }}</h5>
                    <div class="card-text star-rating">
                        {% for i in rating_range %}
                            {% if i <= hotel.rating %}
                                <i class="fas fa-star"></i>
                            {% else %}
                                <i class="far fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p class="card-text">{{ hotel.description|truncatewords:20 }}</p>
                    <a href="{% url 'room_add' hotel.pk %}" class="btn btn-primary mt-4">Add Room</a>
                    <a href="{% url 'room_list' hotel.pk %}" class="btn btn-primary">View Rooms</a>
                    <a href="{% url 'update-hotel-listing' hotel.pk %}" class="btn btn-success mt-4">Update Hotel</a>
                    <a href="{% url 'delete-hotel-listing' hotel.pk %}" class="btn btn-danger mt-4">Delete Hotel</a>
                    
    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
