{% extends "base.html" %}

{% block content %}
<h1>{{ hotel.name }}</h1>
<img src="{{ hotel.image.url }}" alt="{{ hotel.name }}">
<p>{{ hotel.description }}</p>
<h2>Rooms</h2>
<div class="row">
    {% for room in rooms %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img class="card-img-top" src="{{ room.image.url }}" alt="{{ room.room_type }}">
            <div class="card-body">
                <h5 class="card-title">{{ room.room_type }}</h5>
                <p class="card-text">Occupancy: {{ room.occupancy }}</p>
                <p class="card-text">Price: ${{ room.price_per_night }}</p>
                <p class="card-text">Available: {{ room.availability }}</p>
                {% if room.availability %}
                <a href="{% url 'book_room' room.pk %}" class="btn btn-primary">Book Now</a>
                {% else %}
                <button class="btn btn-secondary" disabled>Not Available</button>
                {% endif %}
                <a href="{% url 'delete-room' room.pk %}" class="btn btn-danger mt-2">Delete Room</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{% url 'add_room' hotel.pk %}" class="btn btn-success mt-4">Add Room</a>
{% endblock %}
